*{margin:0;padding:0; border-collapse:collapse; text-decoration:none;}
img,fieldset{border:none;}
body {line-height: 1.5em; font-size: 1em;font-family: Segoe UI, Helvetica, Sans-Serif; color: #333;}
img {vertical-align: middle;}
textarea {resize: vertical;}
a:hover{text-decoration:underline; color:#111;}
/* clearfix */
.clearfix:before,.clearfix:after{content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.hide{display: none;}
.hidden{visibility: hidden;}




body{border-top:5px solid #F04E2A; background:#e0e0e0;}
.wrap{width:60%; margin: 1em auto;}
h1{font-size:2.3em; line-height: 1.8em; text-align:center; text-shadow:1px 1px 1px #fafafa;}
h2{font-size:1.2em; line-height: 1.2em; text-align:center; text-shadow:1px 1px 1px #fafafa;}
h3{font-size:1.2em; line-height: 1.2em; text-align:center; text-shadow:1px 1px 1px #fafafa; margin-bottom:0.5em;}
a{font-family:segoe ui, verdana, arial; font-size:1em; line-height:1.6em; text-decoration:none; color:#111; padding:0.1em 0.4em;}
.exampleWrap{background:#fafafa; border-radius:5px; box-shadow: 0 0 5px #333; width:25%; padding:0.6em 0.6em 0.6em 2.2em; margin:1.2em auto;}


/* styling for death note characters */
.dNoteChars .subAccordMenu {margin-left:1.2em;}
.dNoteChars .rootLink{background:#059BBC;}
.dNoteChars .parentLink{background:#79C471;}		
.dNoteChars .selected{background:#F04E2A;}


/* styling for BMW cars accordian */
.bmwCars .selected{text-decoration:underline; color:#059BBC;}